# dependencies
/node_modules

# production and docs
/dist
/typings
/docs

# testing and coverage
/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/*

# misc
npm-debug.log
yarn-error.log

# Firebase
.firebase
*-debug.log
.runtimeconfig.json