# dependencies
/node_modules

# production and docs
/dist
/typings
/docs
*.tgz

# testing and coverage
/coverage

# bun (not production ready)
bun.lockb
bunfig.toml
node_modules.bun

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.DS_Store
**/tsconfig*.tsbuildinfo
**/jsconfig*.tsbuildinfo

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
npm-debug.log
yarn-error.log

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
