# dependencies
/node_modules

# source and docs
/src
/docs
.gitignore

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
.editorconfig
.prettierignore
tsconfig.json

# Firebase
.firebase
.firebaserc
firebase.json
*-debug.log
.runtimeconfig.json