# dependencies
/node_modules

# source and docs
/src
/scripts
/docs
/.github
.gitignore

# testing and coverage
jest.config.js
/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
.editorconfig
.prettierignore

# TSConfig
tsconfig.json
tsconfig.test.json

# Firebase
.firebase
.firebaserc
firebase.json
*-debug.log
.runtimeconfig.json
