# dependencies
/node_modules

# source and docs
/src
/scripts
/docs
/.github
.gitignore
/dist/**/*.js.map
/dist/**/*.mjs.map
/typings/**/*.d.ts.map

# testing and coverage
jest.config.js
/coverage

# bun (not production ready)
bun.lockb
bunfig.toml
node_modules.bun

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
.editorconfig
.eslintrc.js
.prettierrc
.prettierignore
tsconfig*.json
**/tsconfig*.tsbuildinfo
**/jsconfig*.tsbuildinfo

# Firebase
.firebase
.firebaserc
firebase.json
*-debug.log
.runtimeconfig.json
